div.header {
    background-color: #f5f5f5;
    border-bottom: solid 4px #0D73E2;

    height: 100%;
    width: 75%;
    margin: 2% auto 0;
    padding: 1%;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.header .right button {
    background-color: #0D73E2;
    color: #fff;

    border: 0 solid;
    height: 32.5px;
    width: 200px;
    border-radius: 10px;

    transition: background-color 0.3s;
}

div.header .right button:hover {
    background-color: #00B1F9;
}

div.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

div.popup div.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background: #ffffff;

    padding: 20px;
    height: 450px;
    width: 450px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.popup div.popup-content h2 {
    text-align: center;
    margin-bottom: 30px;
}

div.popup div.popup-content .flex {
    display: flex;
    flex-direction: row;
}

div.popup div.popup-content p#first {
    font-weight: bold;
    margin-right: 15%;
    align-self: center;
}

div.popup div.popup-content p#last {
    font-weight: bold;
    margin-right: 3.5%;
    margin-top: -0.1%;
}

div.popup div.popup-content input#subject {
    width: 280px;
    height: 25px;
    align-self: center;
    resize: none;
    overflow: auto;
}

div.popup div.popup-content textarea#description {
    width: 280px;
    height: 240px;
    resize: none;
    overflow: auto;
}

div.popup div.popup-content button {
    background-color: #0D73E2;
    color: #ffffff;
    font-weight: bold;

    border: 0 solid;
    height: 30px;
    width: 55px;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 45%;
}

div.popup div.popup-content button:hover {
    background-color: #00B1F9;
}

div.popup span.close {
    position: absolute;
    margin-top: -10px;
    margin-left: 440px;
    font-size: 20px;
    cursor: pointer;
}

div.list {
    margin: 5% auto;
    padding: 2%;
    border-radius: 5px;

    height: calc(100px * 1);
    width: calc(100px * 7);

    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;

    overflow: auto;
}

div.list button.ticket-card {
    background-color: #0F0F3A;
    color: #f5f5f5;
    cursor: pointer;
    border: 0 solid;

    border-radius: 5px;
    height: 30px;
    width: 700px;
    padding: 5%;
    margin-bottom: 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transition: transform 0.2s;
}

div.list button.ticket-card:hover {
    transform: scale(1.02);
}

div.list button.ticket-card .left {
    display: flex;
    flex-direction: row;
}

div.list button.ticket-card .left h4,
div.list button.ticket-card .left i {
    align-self: center;
    margin-top: -10px;
    margin-right: 10px;
}

div.list button.ticket-card .right #open {
    color: rgb(0, 255, 17);
    text-transform: uppercase;
    font-weight: bold;
}

div.list button.ticket-card .right #close {
    color: rgb(255, 17, 0);
    text-transform: uppercase;
    font-weight: bold;
}

div.list div#replace header {
    color: #0F0F3A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.list div#replace h3 {
    color: #0D73E2;
    margin-bottom: -1%;
}

div.list div#replace hr {
    height: 1px;
    width: 80%;
    margin: 0 auto 10px;
}

div.list div#replace div.message {
    background-color: #0F0F3A;
    color: #f5f5f5;

    width: 75%;
    padding: 1px;
    margin-top: 10px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    overflow-wrap: break-word;
}

div.list div#replace div.message h4,
div.list div#replace div.message h6 {
    margin-left: 10px;
}

div.list div#replace div.message h4 {
    margin-bottom: -2%;
}
div.list div.text-input form#message-form {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

div.list div.text-input form#message-form textarea#text {
    height: 100px;
    width: 80%;
    
    bottom: 0;

    box-sizing: border-box;
    resize: none;

    overflow-wrap: break-word;
}

div.list div.text-input form#message-form button#send-message {
    background-color: #ffffff;
    border: 0.1px solid;
    border-color: #ffffff;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-left: 1%;
}

div.list div.text-input form#message-form button#send-message:hover {
    background-color: #aaa8a8;
}