/* HEADER */
div.header {
    background-color: #f5f5f5;
    border-bottom: solid 4px #0D73E2;

    height: 100%;
    width: 75%;
    margin: 2% auto 0;
    padding: 1%;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for the button in the right section of the header */
div.header .right button {
    background-color: #0D73E2;
    color: #fff;

    border: 0 solid;
    height: 32.5px;
    width: 200px;
    border-radius: 10px;

    transition: background-color 0.3s;
}

div.header .right button:hover {
    background-color: #00B1F9;
}

/* FOOTER */
div.footer {
    background-color: #f5f5f5;
    border-bottom: solid 4px #0D73E2;

    height: calc(100px * 1);
    width: 50%;
    margin: 2% auto 2%;
    padding: 1%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    overflow: auto;
}

/* Styles for the ticket card buttons within the footer */
div.footer button.ticket-card {
    background-color: white;
    border: 0;

    color: black;
    cursor: pointer;

    height: 105px;
    width: 100%;
    margin-bottom: 2%;
    padding: 5%;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    transition: transform 0.2s;
}

div.footer button.ticket-card:hover {
    transform: scale(1.02);
}

/* Styles for the left and right sections of the ticket card */
div.footer button.ticket-card .left {
    display: flex;
}

div.footer button.ticket-card .left h4,
div.footer button.ticket-card .left i {
    margin: auto 0 auto 10%;
}

div.footer button.ticket-card .right #open {
    color: rgb(22, 207, 35);
    text-transform: uppercase;
    font-weight: bold;
}

div.footer button.ticket-card .right #close {
    color: rgb(255, 17, 0);
    text-transform: uppercase;
    font-weight: bold;
}

/* Styles for various elements within the footer */
div.footer header {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.footer h3 {
    color: #0D73E2;
    margin-bottom: -1%;
}

div.footer hr {
    height: 0.1%;
    width: 80%;
    margin: 0 auto 10px;
}

div.footer div.message {
    background-color: white;
    color: black;

    width: 80%;
    padding: 1px;
    margin: 2.5% 0 0 1%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 1px solid #00B1F9;

    overflow-wrap: break-word;
}

div.footer div.message h6 {
    margin-left: 1%;
}

div.footer div.message h4 {
    margin-left: 1%;
    margin-bottom: -2%;
}

div.footer div.text-input form#message-form {
    margin: 2.5% 0 0 1%;
    
    display: flex;
    align-items: end;
}

div.footer div.text-input form#message-form textarea#text {
    height: 100px;
    width: 80%;
    
    bottom: 0;

    box-sizing: border-box;
    resize: none;

    overflow-wrap: break-word;
}

div.footer div.text-input form#message-form button#send-message {
    background-color: #ffffff;

    height: 50px;
    width: 50px;
    border: 0.1px solid #fff;
    margin: 0 0 0 1%;
    border-radius: 50px;

    cursor: pointer;
}

div.footer div.text-input form#message-form button#send-message:hover {
    background-color: #f5f5f5;
}

/* FORMULAIRE */
div.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

div.popup div.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background: #ffffff;

    padding: 20px;
    height: 450px;
    width: 450px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Styles for the form within the popup */
div.popup div.popup-content h2 {
    text-align: center;
    margin-bottom: 30px;
}

div.popup div.popup-content .flex {
    display: flex;
    flex-direction: row;
}

div.popup div.popup-content p#first {
    font-weight: bold;
    margin-right: 15%;
    align-self: center;
}

div.popup div.popup-content p#last {
    font-weight: bold;
    margin-right: 3.5%;
    margin-top: -0.1%;
}

div.popup div.popup-content input#subject {
    width: 280px;
    height: 25px;
    align-self: center;
    resize: none;
    overflow: auto;
}

div.popup div.popup-content textarea#description {
    width: 280px;
    height: 240px;
    resize: none;
    overflow: auto;
}

/* Styles for the button within the form */
div.popup div.popup-content button {
    background-color: #0D73E2;
    color: #ffffff;
    font-weight: bold;

    border: 0 solid;
    height: 30px;
    width: 55px;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 45%;
}

div.popup div.popup-content button:hover {
    background-color: #00B1F9;
}

/* Styles for the close button in the popup */
div.popup span.close {
    position: absolute;
    margin-top: -10px;
    margin-left: 440px;
    font-size: 20px;
    cursor: pointer;
}
