/* Styles for the equipe-section */
.equipe-section {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* Styles for the equipe-card */
.equipe-card {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #f5f5f5;
    border-radius: 24px;
}

/* Styles for images inside equipe-card */
.equipe-card img {
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

/* Styles for h2 and h3 inside equipe-card */
.equipe-card h2 {
    font-size: 22px;
    margin-right: 30px;
}

.equipe-card h3 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(0 0 0 / 90%);
}

/* Styles for unordered list inside equipe-card */
.equipe-card ul {
    list-style-type: "➜";
    font-size: 14px;
    font-weight: 400;
    color: rgb(0 0 0 / 70%);
    margin-bottom: 24px;
}

/* Styles for links inside equipe-card */
.equipe-card a {
    border: 0;
    color: #fff;
    background-color: #0D73E2;
    padding: 3px 10px;
    font-size: 30px;
    border-radius: 40px;
    transition: background-color 0.3s;
}

/* Hover effect for links inside equipe-card */
.equipe-card a:hover {
    background-color: #00B1F9;
}

/* Media query for screens with width less than or equal to 740px */
@media (width <= 740px) {
    /* Responsive styles for equipe-card */
    .equipe-card {
        margin: 0 40px;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    
    /* Responsive styles for h2 inside equipe-card */
    .equipe-card h2 {
        margin-right: 0;
        font-size: 26px;
    }
    
    /* Responsive styles for images inside equipe-card */
    .equipe-card img {
        margin: -100px 0 30px 0;
        width: 100%;
        max-width: 1000px;
    }

    /* Responsive styles for links inside equipe-card */
    .equipe-card a {
        margin: 5% 1% 5%;
    }
}
