/* Styles for the footer section */
footer {
    color: #000;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
    background: #fff;
    height: 200px;
    border-top: 1px solid black;
}

/* Styles for individual sections within the footer */
.footer-section {
    margin: 0 auto;
}

/* Styles for links within the footer section */
.footer-section a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

/* Hover effect for links within the footer section */
.footer-section a:hover {
    color: #0056b3;
}

/* Styles for heading 2 within the footer section */
.footer-section h2 {
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 10px;
}

/* Styles for unordered list within the footer section */
.footer-section ul {
    list-style: none;
    padding: 0;
}

/* Styles for list items within the unordered list */
.footer-section ul li {
    margin-bottom: 5px;
    font-size: 0.9rem;
    vertical-align: middle;
}

/* Styles for the copyright text section */
 div.copyright {
    color: #000;
    margin-top: 1em;
    text-align: center;
}

@media screen and (max-width: 430px) {
    footer{
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer-section li,
    .footer-section h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.copyright{
        margin-top: 5em;
    }
}
