hr.footer {
    padding: 10px;
    margin-left: 100px;
    margin-right: 150px;
    border: none;
    border-top: 1px solid #757575;
}

footer {
    color: #000;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    background: #fff;
    height: 200px;
}

.footer-section {
    margin: 0 auto;
}

.footer-section a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #0056b3;
}

.footer-section h2 {
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
    font-size: 0.9rem;
    vertical-align: middle;
}

div.copyright {
    color: #000;
    margin-bottom: 10px;
    position: absolute;
    left: 40%;
    bottom: 0;
}
