/* Styles for success message */
.form div#success {
    color: #00ff0d;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
}

/* Styles for error message */
.form #error {
    color: #ff0000;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
}

/* Styles for a card */
.card {
    margin-top: 0 auto;
    padding: 100px;
}

/* Styles for the form container */
.form {
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 2px 4px #000;
    max-width: 400px;
    margin: 25px auto;
}

/* Styles for the form title */
.title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0;
}

/* Styles for form groups (e.g., input + label) */
.group {
    margin-bottom: 25px;
}

/* Styles for labels */
label {
    display: block;
    color: rgb(139, 135, 135);
    margin: 10px;
}

/* Styles for input fields */
input {
    width: 95%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Styles for the submit button */
button {
    background-color: #0D73E2;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Hover styles for the submit button */
button:hover {
    background-color: #00B1F9;
}
