
header {
    padding: 0px;
    width: 100%;
}
  
header hr {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 150px;
    border: none;
    border-top: 1px solid #757575;
}
  
nav {
    margin-left: 100px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}
  
nav .left {
    display: flex;
    align-items: center;
}
  
nav .right .btn {
    padding: 10px 20px;
    margin-right: 20px;
    background-color: #0D73E2;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;    
    transition: background-color 0.3s;
}

nav .right .btn:hover {
    background-color: #00B1F9;
}

a.btn-login {
    padding: 8px 15px;
    margin-right: 5px;
    background-color: #0D73E2;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;    
    transition: background-color 0.3s;
}

a.btn-login:hover {
    color: #fff;
    background-color: #00B1F9;
}

nav .right button#logout {
    padding: 10px 17px;
    margin-right: 5px;
    background-color: #0D73E2;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}

nav .right button#logout:hover {
    color: #fff;
    background-color: #00B1F9;
}

.separator {
    width: 0.2%;
    height: 30px;
    background-color: #757575;
    margin-right: 10px;
}
  
nav a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 20px;
    cursor: pointer;
    color: #cac8c8;
    transition: color 0.3s;
}
  
nav a:hover {
    color: #00B1F9;
}

@media screen and (width <= 970px) {
    nav {
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: wrap;
    }

    nav .left {
        margin-bottom: 10px;
    }

    nav .right {
        margin-top: 10px;
        margin-left: 20%;
    }

    nav .right a {
        color: transparent;

    }

    nav .separator {
        display: none;
    }

    header hr {
        margin-top: 50px;
        margin-bottom: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (width <= 520px) {

    nav .left {
        margin-left: 25%;
        display: block;
    }

    nav .right {
        margin-left: 10%;
        display: block;
    }

    nav .left img {
        margin-left: 30%;
    }

    nav .left a#responsive {
        margin-left: 30%;
        display: block;
    }
}

@media screen and (width <= 340px) {

    nav .left {
        margin-left: 15%;
    }

    nav .right {
        margin: 10px;
    }
}