/* Sets a margin for the .start-up class with top, right, bottom, and left values */
.start-up {
    margin: 300px 100px 100px 100px;
}

/* Styles for images inside .eval-text and .reduct-text classes */
.start-up .eval-text img,
.start-up .reduct-text img {
    width: 50%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    margin: 5px;
}

/* Styles for the .services class using grid layout */
.start-up .services {
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 100%;
}

/* Styles for h1 and h2 tags inside .start-up */
.start-up h1 {
    text-align: center;
}

.start-up h2 {
    text-align: center;
}

/* Adds margin to all div elements inside .start-up */
.start-up div {
    margin: 20px;
}

/* Styles for images inside .image-presentation class */
.start-up .image-presentation img {
    height: 100%;
    width: 100%;
}

/* Styles for .image-presentation class inside .reduction class */
.start-up .reduction .image-presentation {
    background: whitesmoke;
    padding: 1em;
    width: 70%;
    text-align: center;
    padding-bottom: 0;
}

/* Styles for .evalue and .reduction classes using grid layout */
.start-up .evalue,
.start-up .reduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Styles for paragraphs inside .title-text class */
.start-up .title-text p {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

/* Styles for an element with a border on top and bottom */
.start-up .border-top-bottom {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 90%;
}

/* video presentation */
section#video {
    background-color: #f5f5f5;
    border-bottom: solid 4px #0D73E2;

    height: 450px;
    width: 75%;
    margin: 2% auto 2%;
    padding: 1% 0 1% 1%;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}

section#video div.video h1 {
    text-align: center;
}

section#video div.video iframe {
    border: solid 2px #0D73E2;
}