/* Styles for the login button in the navigation */
nav a.btn-login {
    padding: 8px 15px;
    margin-right: 5px;
    background-color: #0D73E2;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;    
    transition: background-color 0.3s;
}

/* Hover styles for the login button */
nav a.btn-login:hover {
    color: #fff;
    background-color: #00B1F9;
}

/* Styles for the button in the right section of the navigation */
nav .right button {
    padding: 10px 17px;
    margin-right: 5px;
    background-color: #0D73E2;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
}

/* Hover styles for the button in the right section of the navigation */
nav .right button:hover {
    color: #fff;
    background-color: #00B1F9;
}

/* Styles for the profile section */
div.profile {
    margin: 0 auto;
    padding: 5%;
}

/* Styles for the profile card container */
div.profile-card {
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 25px;
    box-shadow: 0 2px 4px #000;
    max-width: 350px;
    margin: 0 auto;
}

/* Styles for the profile header */
.profile-header svg {
    width: 70%;
    padding-top: 20px;
    display: block;
    margin: 0 auto;
}

.profile-header h1 {
    font-size: 24px;
    text-align: center;
}

.profile-header p {
    font-size: 16px;
    color: #666;
    text-align: center;
}

/* Styles for the horizontal rule in the profile card */
.profile-card hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    border-top: 1px solid #757575;
}

/* Styles for the profile details section */
.profile-details {
    margin-top: 20px;
    text-align: center;
}

/* Styles for success and error messages in profile details */
.profile-details div#success {
    color: #00ff0d;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
}

.profile-details #error {
    color: #ff0000;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
}

/* Styles for heading elements */
h2 {
    font-size: 20px;
    margin: 10px 0;
}

/* Styles for the profile form container */
div.profile-form {
    text-align: left;
}

/* Styles for labels in the profile form */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Styles for input fields in the profile form */
.profile-form input[type="email"],
.profile-form input[type="text"],
.profile-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Styles for the save button container in the profile form */
.profile-form div.save-button {
    display: flex;
    justify-content: space-between;
}

/* Styles for the save button in the profile form */
.profile-form button {
    background-color: #0D73E2;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px 10px;
}

/* Hover styles for the save button in the profile form */
button:hover {
    background-color: #00B1F9;
}

@media screen and (max-width: 660px) {
    div.profile-details div.profile-form div.save-button {
        flex-direction: column;
    }

    div.profile-details div.profile-form div.save-button button {
        font-size: 75%;
    }
}