/* Font styling for Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}

/* General styling for the HTML and body */
html {
  scroll-behavior: smooth;
  zoom: initial;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

/* Background animation using canvas */
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* Styling for the top section, including title, subtitle, and button */
div.top {
  height: calc(100px * 5);
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for the title */
div.top h1#first-title {
  color: #000;
  font-size: 350%;
  margin-top: 2%;
  margin-bottom: -2.5%;
}

/* Styling for the subtitle */
div.top h1#sec {
  color: #0D73E2;
  font-size: 350%;
}

div.top div#space {
  margin: 0.5%;
}

/* Styling for the paragraph in the top section */
div.top p {
  color: #464646;
  margin: 0;
}

/* Styling for the button in the top section */
div.top a.btn {
  padding: 1% 2%;
  border-radius: 20px;
  margin-top: 2.5%;
  font-weight: bold;
  background-color: #0D73E2;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Button hover effect */
div.top a.btn:hover {
  background-color: #00B1F9;
}

/* Media queries for responsive design */
@media screen and (max-width: 950px) {
  div.top {
    margin-top: -10%;
    margin-bottom: 0;
  }

  div.top h1#first {
    font-size: 250%;
    margin-top: 2%;
    margin-bottom: -2.5%;
  }
  
  div.top h1#sec {
    font-size: 250%;
  }
}

@media screen and (max-width: 730px) {
  div.top h1#first,
  div.top h1#sec {
    text-align: center;
  }

  div.top a.btn {
    padding: 2% 2.5%;
  }
}

@media screen and (max-width: 435px) {
  div.top p {
    display: none;
  }

  div.top a.btn {
    padding: 4% 5%;
  }

  div.top{
    text-align: center;
    margin-bottom: 20%;
  }
}

/* Styling for the presentation section */
section#presentation {
  padding-top: 15%;
  padding-bottom: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: left;
}

/* Styling for the presentation cards */
section#presentation .presentation {
  margin-bottom: 20px;
  border-radius: 25px;
  height: 80%;
  width: 80%;
  opacity: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Styling for the image in the presentation card */
section#presentation .presentation .image {
  flex: 1;
  margin: 0 2.5%;
}

section#presentation .presentation .image img {
  border-radius: 10%;
  width: 125%;
}

/* Styling for the text in the presentation card */
section#presentation .presentation .text {
  flex: 2;
  color: #000;
  border-radius: 25px;
  height: 100%;
  margin-left: 6em;
  display: flex;
  flex-direction: column;
}

/* Hover effect for the presentation cards */
section#presentation .presentation .text:hover {
  background-color: #f5f5f5;
  transform: scale(1.01);
  transition: 0.05s;
}

/* Styling for the headings in the presentation card */
section#presentation .presentation .text h1 {
  margin-left: 2.5%;
  margin-bottom: 0.5%;
}

/* Styling for the paragraphs in the presentation card */
section#presentation .presentation .text p {
  margin-left: 2.5%;
  margin-bottom: -1.5%;
}

/* Styling for the unordered list in the presentation card */
section#presentation .presentation ul {
  margin-top: 10%;
  list-style-type: none;
  color: #464646; 
}

/* Styling for list items in the presentation card */
section#presentation .presentation li {
  list-style-image: url("../svg/check.svg");
  margin-bottom: 10px;
}

section#video-link {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 10%;
}

section#video-link h1{
  text-align: center;
}

section#video-link a {
  padding: 1% 2%;
  border-radius: 20px;
  font-weight: bold;
  background-color: #0D73E2;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s;
} 

/* Button hover effect */
section#video-link a:hover {
  background-color: #00B1F9;
}


/* Media queries for responsive design in the presentation section */
@media screen and (max-width: 1080px) {
  section#presentation {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section#presentation .presentation {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: -10%;
    margin-right: 5%;
  }
  
  section#presentation .presentation .image {
    display: none;
    justify-content: center;
  }
  
  section#presentation .presentation .text {
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
  }
}

/* Styling for the "Actualites" section */
section#actu h1#actus {
  color: #000;
  text-align: center;
  margin-bottom: 2.5%;
}

/* Styling for the cards in the "Actualites" section */
section#actu div.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Styling for individual cards in the "Actualites" section */
section#actu div.cards section {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px;
}

/* Hover effect for individual cards in the "Actualites" section */
section#actu div.cards section:hover {
  background-color: #f5f5f5;
  transform: scale(1.01);
  transition: 0.05s;
}

/* Styling for the date paragraph in individual cards */
section#actu div.cards section div p.date {
  color: #0D73E2;
}

@media screen and (max-width: 1000px) {
  section#actu div.cards {
    flex-direction: column;
  }

  section#actu div.cards section {
    width: 75%;
  }
}

/* Styling for the "Chiffres" section */
section#chiffres {
  margin-top: 15%;
}

/* Styling for the "Chiffres" heading */
section#chiffres .chiffres {
  color: #000;
  margin-bottom: 1%;
  text-align: center;
}

/* Styling for the cards in the "Chiffres" section */
section#chiffres .cards {
  margin-top: 2.5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2.5%;
  color: #000;
}

/* Styling for individual articles in the "Chiffres" section */
section#chiffres article {
  position: relative;
  perspective: 300%;
  width: 300px;
  height: 300px;
}

/* Styling for the header in individual articles */
section#chiffres article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  margin-bottom: 18%;
}

/* Styling for the heading in individual articles */
section#chiffres article header h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

/* Styling for images in individual articles */
section#chiffres article img {
  width: 35%;;
}

/* Styling for the front and back faces of individual articles */
section#chiffres article .front,
section#chiffres article .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  backface-visibility: hidden;
  background: transparent;
  border-radius: 10%;
  padding: 10%;
  transition: 0.5s;
  cursor: pointer;
}

/* Hover effect for the front and back faces of individual articles */
section#chiffres article .front:hover,
section#chiffres article .back:hover {
  background-color: #f5f5f5;
}

/* Styling for the back face of individual articles */
section#chiffres article .back{
  background-color: #f5f5f5;
}

/* Styling for the back face in the "Chiffres" section */
section#chiffres .back {
  transform: rotateY(180deg);
}

/* Styling for the input in the "Chiffres" section */
section#chiffres input {
  position: absolute;
  scale: 0;
}

/* Styling for the checked input in the "Chiffres" section */
section#chiffres input:checked ~ article .back {
  transform: rotateY(0);
}

/* Styling for the unchecked input in the "Chiffres" section */
section#chiffres input:checked ~ article .front {
  transform: rotateY(-180deg);
} 

/* Styling for the top paragraph in the back face of individual articles */
section#chiffres article .back p#top {
  margin-top: 25%;
}

/* Media query for responsive design in the "Chiffres" section */
@media screen and (max-width: 950px) {
  section#chiffres article {
    margin-bottom: 5%;
  }
}


.image img{
  filter: grayscale(100%);
}

.image img:hover{
  transition-duration: 0.5s;
  transform: scale(1.1);
  filter: grayscale(0%);
}